.container {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}
.pb { 
    padding-bottom:1.5rem;
    padding-top: 1.5rem;
}
.pr {
    padding-right:1.5rem;
}
.pl {
    padding-left: 1.5rem;
}
.ml {
    margin-left: 1rem;
}
.mr {
    margin-right: 1rem;
}